-- 1. Create a table to map which products a coupon can apply to
CREATE TABLE coupon_products (
  coupon_id UUID REFERENCES coupons(id) ON DELETE CASCADE,
  product_id UUID REFERENCES products(id) ON DELETE CASCADE,
  PRIMARY KEY (coupon_id, product_id)
);

-- Enable RLS for coupon_products
ALTER TABLE coupon_products ENABLE ROW LEVEL SECURITY;

-- Allow public read access to coupon_products so the checkout validation can read it
CREATE POLICY "Public read active coupon products" 
ON coupon_products FOR SELECT 
TO public 
USING (true);

-- Allow full access to admins
CREATE POLICY "Admins full access on coupon_products"
ON coupon_products FOR ALL
TO authenticated
USING (auth.jwt() ->> 'role' = 'admin')
WITH CHECK (auth.jwt() ->> 'role' = 'admin');

-- 2. Create a table to track which user has used which coupon how many times
CREATE TABLE user_coupons (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  coupon_id UUID REFERENCES coupons(id) ON DELETE CASCADE,
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE, -- Note: If user is not logged in, we might track by email or session. Assuming logged in users here.
  user_email TEXT, -- We need this because guest checkouts might use coupons without user_id
  used_at TIMESTAMPTZ DEFAULT now()
);

-- Enable RLS for user_coupons
ALTER TABLE user_coupons ENABLE ROW LEVEL SECURITY;

-- Admins full access
CREATE POLICY "Admins full access on user_coupons"
ON user_coupons FOR ALL
TO authenticated
USING (auth.jwt() ->> 'role' = 'admin')
WITH CHECK (auth.jwt() ->> 'role' = 'admin');

-- 3. Alter existing `coupons` table to add `per_user_limit`
ALTER TABLE coupons ADD COLUMN per_user_limit INT DEFAULT NULL;
